{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "5.0"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-styled-components",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "dynamic-import-node"
  ],
  "env": {
    "production": {
      "sourceMaps": false,
      "retainLines": false
    },
    "development": {
      "sourceMaps": true,
      "retainLines": true
    },
    "test": {
      "sourceMaps": true,
      "retainLines": true
    }
  }
}
