{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "4.0"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-styled-components",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "dynamic-import-node"
  ]
}
