# Dependencies
/node_modules

# Generated
/build
/.cache
/coverage
*.map
*.log
.electron-symbols
.minio

# Misc
.DS_Store

# Configs
configs/sentry/sentryclirc
configs/electron/certs
configs/minio/minio.sh
